   
   .dropdown-container {
    position: relative; 
  }

   .dropdown-button {
    background-color: #2F302C;
       color: white;
       
       font-size: 16px;
       border: none;
       cursor: pointer;
      
   }

   .dropdown-button:hover,
   .dropdown-button:focus {
       background-color: #3f464d;
   }




  
  
  
 
  .dropdown {
    position: absolute;
    top: 100%+10px;
    margin-top: 12px;
    
    width: 10rem;
    
    background-color: #2F302C;
    border: 3px solid #9da092;
   
    border-radius:12px;
    z-index: 20;
  }
  
  .option {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #3f464d;
  }